{
    "getAllItemsFunction": {
        "BOOKS_TABLE": "<TABLE-NAME>"
    },
    "getByIdFunction": {
        "BOOKS_TABLE": "<TABLE-NAME>"
    },
    "putItemFunction": {
        "BOOKS_QUEUE": "<SQS-QUEUE-NAME>"
    },
    "writeItemFunction": {
        "BOOKS_TABLE": "<TABLE-NAME>"
    }
}
